.hero-image-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.hero-image{
    width: 50%;
}

.hero-image img{
    width: 100%;
}

.hero-Text-container{
    padding: 1rem;
}

.hero-Text-container h1{
    padding: 1rem 0.3rem;
    margin: 1rem 0.3rem;
}
.hero-Text-container p{
    padding: 0.3rem;
    margin: 0.3rem;
    color: rgb(53, 53, 53);
}

@media screen and (max-width : 600px){

    .hero-image{
        width: 90%;
    }
}